@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
  
}
:root {
  --primary-dark: #51e5d9;
  --primary-light: #709dff;
}

.icon {
  color: white;
}

@layer base {
  body {
    @apply font-[Poppins]
  }

  li {
    @apply p-4
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-xl font-bold
  }
  
  .icon {
    @apply text-2xl cursor-pointer
  }
  .button{
    @apply p-3 border bg-gradient-to-r from-[var(--primary-ligth)] text-white rounded-md
  }
 
}
/* body::-webkit-scrollbar
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(165, 180, 252);
}              */


