.content {
  background-color: #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  overflow-x: auto;
}


.selectState {
  width: 50%;
}

.table {
  margin: 0.5rem;
  background-color: whitesmoke;
  text-align: center;
  border-collapse: collapse;  
}
.table thead {
  background-color: #cecece;
}
.table thead th {
  text-align: center;
}
.table td {
  padding: 15px;
}

.table th {
  text-align: left;
  padding: 25px;
  width: 700px;
  color: black;
}

tbody > tr:nth-child(odd) {
  color: black;
}

tbody > tr:nth-child(even) {
  background-color: #cecece;
  color: black;
}

tbody > tr:nth-child(odd) .buttonDelete {
  color: black;
  background-color: #cecece;
}

tbody > tr:nth-child(even) .buttonDelete {
  background-color: whitesmoke;
  color: black;
}
.buttonDelete {
  max-width: 100px;
}
.buttonDelete:hover {
  opacity: 85%;
  transition: 0.3s;
}

.buttonsRow {
  display: flex;
  justify-content: space-around;
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: black;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #cecece;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  background: #cecece;
  border-radius: 10px;
}